/* Top right text */
.classification {
  position: absolute;
  top: 24px;
  right: 0;
}

.classification > span {
  background-color: green;
  padding: 6px 12px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  color: white;
}

.carousel {
  margin-top: 10px;
  display: block;
  position: relative;
  height: fit-content;
  width: fit-content;
}

.carousel > img {
  display: block;
  height: 500px;
}

#title {
  color: white;
}